html, body {
    margin: 0;
    color: rgb(104, 103, 103);
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(207, 247, 243);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(20, 111, 214);
    padding: 10px 20px 0px;
    text-decoration: none;
}
.header {
    background-color: rgb(20, 111, 214);
    min-height: 150px;
    text-align: center;
}
.content {
    background-color: rgb(207, 247, 243);
    min-height: 300px;
    padding: 20px;
    text-align: center;
}
.footer {
    background-color: rgb(20, 111, 214);
    min-height: 15px;
    text-align: center;
    color: white;
}

img{
    margin: auto;
    width: 450px;
    height: 200px;
}

a:link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li{
    list-style: none;
}

table{
    width: 500px;
    
}

table, th, td {
    border: 1px solid rgb(194, 207, 241);
    border-radius: 5px;
    text-align: center;
  }

iframe{
    height: 150px;
    width: 300px;
}